<div class="card-row">
  <div class="card-col">
    <nb-card size="small" status="success">
      <nb-card-header>{{voluntad}} </nb-card-header>
      <nb-card-body>
        <h3>Nombre del usuario: {{ usernombre }}</h3>
        <h4>Divisa: {{divisa}} <br />
          Monto: {{monto}} </h4>
      </nb-card-body>
      <nb-card-footer align=right>
        <div class="calificacion">REPUTACIÓN:
          <a *ngFor="let number of numbers">&#9733; </a>
        </div>
      </nb-card-footer>
    </nb-card>

  </div>
  <div class="card-col">
  </div>
</div>
