<p>lista-propuestas-a-voluntades works!</p>
<div class="card-row">
    <div class="card-col">
      <nb-card size="tiny" status="warning">
        <nb-card-header>AlpuyMateo</nb-card-header>  <br/>
        Banco: Itau <br/>
        Cotización ofrecida: 38.5 <br/>
        Moneda ofrecida: USD <br/>
        <div class="btn-group">
                <button class="rechazar" >Rechazar</button> 
                <button class="aceptar" >Aceptar</button>
         </div>
      </nb-card>
    
      <nb-card size="tiny" status="warning">
        <nb-card-header>Alvaro_Da_Silva</nb-card-header>
        Banco: Itau <br/>
        Cotización ofrecida: 38.3 <br/>
        Moneda ofrecida: USD <br/>
        <div class="btn-group">
                <button class="rechazar" >Rechazar</button> 
                <button class="aceptar" >Aceptar</button>
         </div>

      </nb-card>
    </div>
    <div class="card-col" >
            <nb-card size="tiny" status="warning">
              <nb-card-header>Juan_Dibot</nb-card-header>
              Banco: HSBC <br/>
        Cotización ofrecida: 38.2 <br/>
        Moneda ofrecida: USD
        <div class="btn-group">
                <button class="rechazar" >Rechazar</button> 
                <button class="aceptar" >Aceptar</button>
         </div>
            </nb-card>
            <nb-card size="tiny" status="danger">
              <nb-card-header>Pablo.Piñeiro1</nb-card-header>
              Banco: Santander <br/>
             Cotización ofrecida: 39 <br/>
                Moneda ofrecida: USD <br/>
        <div class="btn-group">
                <button class="rechazar" >Rechazar</button> 
                <button class="aceptar" >Aceptar</button>
         </div>
            </nb-card>
    </div>
  </div>
  